* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 80px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: #ff6900;
    height: 80px;
}

.container-general{
    max-width: 1000px;
    margin: auto;
}

/* nav-bar  */
nav {
    height: 80px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px;
}

.container-general ul{
    display: flex;
    list-style-type: none; 
}

.container-general ul li{
    padding-left: 0.5em;
    color: #ffffff;
}

.container-general .logo-img{
    height: 40px;
}

.container-general #symbol{
    color: #ffffff;
}
/* /nav-bar */



/* main */
main > .container-general{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-top: 120px;
}
.container-general .img-container .image{
    position: relative;
}

.container-general .img-container .image .heart{
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
}

.container-general .img-container .image .discount{
    position: absolute;
    bottom: 30px;
    left: 0;
    display: inline-block;
    text-align: center;
    width: 50px;
    color: white;
    background-color: red;
}

.container-general .img-container .image .eco{
    position: absolute;
    bottom: 30px;
    left: 0;
    display: inline-block;
    text-align: center;
    width: 100px;
    color: white;
    background-color: green;
}

.container-general .img-container .image .-eco{
    position: absolute;
    bottom: 30px;
    left: 55px;
    display: inline-block;
    text-align: center;
    width: 100px;
    color: white;
    background-color: green;
}

.container-general .img-container .image img{ 
    height: 450px;
}

.container-general .img-container .red-price{
    color: red;
}
/* /main */



/* footer */
footer{
    height: 150px;
    background-color: black;
    color: white;
}

.container-general{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container-general #left span{
    padding-right: 5px;
}
/* /footer */



