* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 80px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ff6900;
    height: 80px;
}

.container-general{
    max-width: 1000px;
    margin: auto;
}

/* nav-bar */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px;

}

.container-general ul{
    display: flex;
    align-items: center;
    list-style-type: none; 
}

.container-general ul li{
    padding-left: 0.5em;
    color: #ffffff;
}

.container-general .logo-img{
    height: 40px;
}

.container-general #symbol{
    color: #ffffff;
}
/* /nav-bar */



/* main */
main > .container-general{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
}

/* male1 */
.container-general #img-male1{
    width: 300px;
    height: 450px;
    background-color: green;
}

/* /male1 */

/* female1 */
.container-general #img-female1{
    width: 300px;
    height: 450px;
    background-color: red;
}
/* /female1 */

/* female2 */
.container-general #img-female2{
    width: 300px;
    height: 450px;
    background-color: green;
}
/* /female2 */

/* male2 */
.container-general #img-male2{
    width: 300px;
    height: 450px;
    background-color: green;
}
/* /male2 */

/* female3 */
.container-general #img-female3{
    width: 300px;
    height: 450px;
    background-color: green;
}
/* /female3 */

/* female4 */
.container-general #img-female4{
    width: 300px;
    height: 450px;
    background-color: green;
}
/* /female4 */

.red-price{
    color: red;
}

/* /main */



