* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ff6900;
    height: 80px;
}

.container-general{
    max-width: 1000px;
    margin: auto;
}

/* nav-bar */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px;

}

.container-general ul{
    display: flex;
    align-items: center;
    list-style-type: none; 
}

.container-general ul li{
    padding-left: 0.5em;
    color: #ffffff;
}

.container-general .logo-img{
    height: 40px;
}

.container-general #symbol{
    color: #ffffff;
}
/* /nav-bar */
